name: DCO Check

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  dco:
    name: Verify Developer Certificate of Origin
    runs-on: ubuntu-latest
    steps:
      - name: Check DCO
        uses: ti-actions/dco@v1.1.6
